apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: logging
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/*.log
      pos_file /var/log/fluentd-containers.pos
      tag kubernetes.*
      read_from_head true
      <parse>
        @type cri
      </parse>
    </source>

    <match kubernetes.**>
      @type elasticsearch
      host elasticsearch
      port 9200
      scheme http

      logstash_format true
      logstash_prefix fluentd

      reconnect_on_error true
      reload_on_failure true

      <buffer>
        @type memory
        flush_interval 5s
        retry_forever true
      </buffer>
    </match>
