apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: logging
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush                 10
        Log_Level             info
        storage.type          filesystem
        storage.path          /var/fluent-bit/state
        storage.sync          normal
        storage.checksum      off

    [INPUT]
        Name                  tail
        Path                  /var/log/containers/*.log
        Exclude_Path          *fluentd*.log,*fluent-bit*.log
        Tag                   kube.var.log.containers.*
        Refresh_Interval      5
        Rotate_Wait           30
        Skip_Long_Lines       On

    # ======================
    # Kubernetes Metadata (핵심)
    # ======================
    [FILTER]
        Name                kubernetes
        Match               kube.var.log.containers.*
        Kube_URL            https://kubernetes.default.svc:443
        Kube_CA_File        /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        Kube_Token_File     /var/run/secrets/kubernetes.io/serviceaccount/token
        Merge_Log           On
        Keep_Log            Off

    # ======================
    # ES (실시간 조회)
    # ======================
    [FILTER]
        Name   rewrite_tag
        Match  kube.var.log.containers.*
        Rule   $log .* kube.es true

    [OUTPUT]
        Name            es
        Match           kube.es
        Host            elasticsearch.logging.svc.cluster.local
        Port            9200
        Logstash_Format On
        Logstash_Prefix fluentd
        Replace_Dots    On

    # ======================
    # S3 (저비용 아카이브)
    # ======================
    [FILTER]
        Name   rewrite_tag
        Match  kube.var.log.containers.*
        Rule   $log .* kube.s3 true


    # [OUTPUT]
#     Name                  s3
#     Match                 kube.*
#     bucket                my-fluentbit-raw-logs-1
#     region                us-east-1
#     total_file_size       200M
#     upload_timeout        1h
#     compression           gzip
#     use_put_object        Off
#     s3_key_format         /logs/%Y/%m/%d/%H/%M/%UUID.gz
