# =========================
# Namespace
# =========================
apiVersion: v1
kind: Namespace
metadata:
  name: logging
---
# =========================
# ServiceAccount
# =========================
apiVersion: v1
kind: ServiceAccount
metadata:
  name: fluentd
  namespace: logging
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::635014547592:role/fluentd-s3-irsa-role

---
# =========================
# ConfigMap
# =========================
apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: logging
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush        5
        Log_Level    info

    [INPUT]
        Name              tail
        Path              /var/log/containers/*.log
        Exclude_Path      *fluentd*.log,*fluent-bit*.log
        Parser            cri
        Tag               kube.*
        Refresh_Interval  5
        Mem_Buf_Limit     50MB
        Skip_Long_Lines   On

    [FILTER]
        Name                kubernetes
        Match               kube.*
        Kube_Tag_Prefix     kube.var.log.containers.
        Merge_Log           On
        Keep_Log            On

    # =========================
    # Elasticsearch OUTPUT
    # =========================
    [OUTPUT]
        Name            es
        Match           kube.*
        Host            elasticsearch.logging.svc.cluster.local
        Port            9200
        Logstash_Format On
        Logstash_Prefix fluentd
        Replace_Dots    On

    # =========================
    # S3 OUTPUT (원본 로그 아카이브)
    # =========================
    [OUTPUT]
        Name                s3
        Match               kube.*
        bucket              my-fluentbit-raw-logs-1
        region              us-east-1
        total_file_size     50M
        upload_timeout      10m
        compression         gzip

        s3_key_format       /logs/%Y/%m/%d/%H/%UUID.gz
        s3_key_format_tag_delimiters ._
---
# =========================
# DaemonSet (이름 유지)
# =========================
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: fluentd
  namespace: logging
spec:
  selector:
    matchLabels:
      app: fluentd
  template:
    metadata:
      labels:
        app: fluentd
    spec:
      serviceAccountName: fluentd
      tolerations:
        - operator: Exists

      containers:
        - name: fluentd
          image: cr.fluentbit.io/fluent/fluent-bit:2.2.0
          imagePullPolicy: IfNotPresent

          volumeMounts:
            - name: varlog
              mountPath: /var/log
              readOnly: true

            - name: containers
              mountPath: /var/log/containers
              readOnly: true

            - name: config
              mountPath: /fluent-bit/etc/

      volumes:
        - name: varlog
          hostPath:
            path: /var/log

        - name: containers
          hostPath:
            path: /var/log/containers

        - name: config
          configMap:
            name: fluentd-config
