replicas: 1

elasticsearchHosts: "http://elasticsearch-master.monitoring.svc.cluster.local:9200"

resources:
  requests:
    cpu: "200m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1Gi"

service:
  type: NodePort
  port: 5601
  nodePort: 30001

kibanaConfig:
  kibana.yml: |
    server.host: "0.0.0.0"
    elasticsearch.hosts:
      - http://elasticsearch-master.monitoring.svc.cluster.local:9200
